
.icon-search:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-instageam:before { content: '\e802'; } /* '' */
.icon-emo-sleep:before { content: '\e803'; } /* '' */
.icon-emo-devil:before { content: '\e805'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
